@{
    ViewBag.Title = "Contact";
}
<h2>YFL Team Members</h2>

<address>
    Jacob Snover, Stephen Scobie, Jason Kubo, Beniraj Rajanish<br/>
    Are all students at Grand Circus<br /> 
    1570 Woodward Ave, Detroit, Michigan.<br />
    Phone:(313)338-2780
</address>

<h2>Contact the YFL team.</h2>

<address>
    <strong>Jacob</strong>   <a href="https://www.linkedin.com/in/jacobsnover/">https://www.linkedin.com/in/jacobsnover/</a><br />
    <strong>Stephen</strong> <a href="https://www.linkedin.com/in/stephen-scobie">https://www.linkedin.com/in/stephen-scobie</a><br />
    <strong>Jason</strong>   <a href="https://www.linkedin.com/in/jason-kubo/">https://www.linkedin.com/in/jason-kubo/</a><br />
    <strong>Beni</strong>    <a href="https://www.linkedin.com/in/beniraj-rajanish/">https://www.linkedin.com/in/beniraj-rajanish/</a><br />
</address>