@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Jacob Snover, Stephen Scobie, Jason Kubo, Beniraj Rajanish<br/>
    Are all students at Grand Circus<br /> 
    1570 Woodward Ave, Detroit, Michigan.<br />
    Phone:(313)338-2780
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>