@{
    ViewBag.Title = "YFL Home";

}

<div id="bannerHomeIndexContainer1">
    <div id="bannerHomeIndexImg1">
        <p id="bannerHomeIndexText1">Your Fantasy League</p>
        <p id="bannerHomeIndexText2">Browse it. Build it. Win it.</p>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-lg-4">
            <a href="/Home/NewWatchlist">
                <img id="home-index-cropped-circular150_1" />
            </a>
            <h2>Browse</h2>
            <p>Browse YFL player directory.</p>
        </div>
        <div class="col-lg-4">
            <a href="/Home/WatchListManagement">
                <img id="home-index-cropped-circular150_2" />
            </a>
            <h2>Manage</h2>
            <p>Manage YFL watch lists.</p>
        </div>
        <div class="col-lg-4">
            <a href="http://www.nfl.com/schedules">
                <img id="home-index-cropped-circular150_3" />
            </a>
            <h2>Games</h2>
            <p>See upcoming NFL schedule for the current week.</p>
        </div>
    </div>
</div>
<hr class="home-index-featurette-break"/>