@{
    ViewBag.Title = "YFL Home";

}

<div id="bannerHomeIndexContainer1">
    <div id="bannerHomeIndexImg1">
        <p id="bannerHomeIndexText1">Your Fantasy League</p>
        <p id="bannerHomeIndexText2">Browse it. Build it. Win it.</p>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-lg-4">
            <!--<img src="http://via.placeholder.com/150x150" class="img-circle" />-->
            <!--<div id="browseManageGamesHomeIndexImg1" class="img-circle"></div>-->
            <img id="browseHomeIndexImg1" class="img-circle" />
            <h2>Browse</h2>
            <p>Browse YFL player directory.</p>
        </div>
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/150x150"  class="img-circle" />
            <h2>Manage</h2>
            <p>Manage YFL watch lists.</p>
        </div>
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/150x150"  class="img-circle" />
            <h2>Games</h2>
            <p>See upcoming NFL schedule for the current week.</p>
        </div>
    </div>
</div>
<hr class="home-index-featurette-break"/>