
@{
    ViewBag.Title = "WatchListManagement";
}



<link href="~/Content/StyleSheet1.css" rel="stylesheet" />


<h2>WatchListManagement</h2>
<table id="tab1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>Watch List Name</td>
        </tr>
    </thead>
    @for (int i = 0; i < @ViewBag.WatchList.Count; i++)
    {
        <tr class="active" style="background-color: whitesmoke">
            <td style="display:none">@ViewBag.WatchlistId[i]</td>
            <td>@ViewBag.WatchList[i]</td>
            <td>
                <a href="/Home/WatchList?watchlistId=@ViewBag.WatchlistId[i]" class="btn btn-default btn-sm"> Edit</a>
            </td>
        </tr>
    }
</table>