
@{
    ViewBag.Title = "Watchlist";
}

<h2>WatchlistView</h2>


@*<div><iframe src="//www.fantasylabs.com/nfl/widgets/5069/4/3635440/points-vs-expected/" style="width: 427px; height: 375px;" frameborder="0"></iframe></div>*@
<iframe id="n_2" src="https://numberfire.com/external/widgets/who-should-i-start" width="600" height="350"></iframe><br /><div style="font-size: 12px; margin: 10px 0"><a href="https://numberfire.com/nfl/fantasy/fantasy-football-projections">Fantasy Football Projections</a> by <a href="https://numberfire.com">numberFire</a></div>
<script>var _nf2 = document.getElementById("n_2"); _nf2.contentWindow.location.href = _nf2.src;</script>

