
@{
    ViewBag.Title = "WatchListManagement";
}

@if (ViewBag.WatchListName != null)
{
    <h1>@ViewBag.WatchListName has been deleted!</h1>
}

<link href="~/Content/StyleSheet1.css" rel="stylesheet" />


<h2>Watch List Management</h2>

<table id="tab1" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <td>Watch List Name</td>
        </tr>
    </thead>
    @for (int i = 0; i < @ViewBag.WatchList.Count; i++)
    {
        <tr class="active" style="background-color: whitesmoke">
            <td style="display:none">@ViewBag.WatchlistId[i]</td>
            <td>@ViewBag.WatchList[i]</td>
            <td>

                <a href="/Home/WatchList?watchlistId=@ViewBag.WatchlistId[i]&watchListName=@ViewBag.WatchList[i]" class="btn btn-default btn-sm">Inspect  <span class="glyphicon glyphicon-search"></span></a>

                <a href="/Home/DeleteWatchList?watchlistId=@ViewBag.WatchlistId[i]&watchListName=@ViewBag.WatchList[i]" class="btn btn-default btn-sm" onclick="return confirm('Are you sure?')">Delete List  <span class="glyphicon glyphicon-minus"></span></a>

            </td>
        </tr>
    }
</table>


