body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100px;
}

th.dt-center, td.dt-center {
    text-align: center;
}

/* BEGIN NON-PACKAGED CSS SELECTORS */
body.home_index {
    background-color: black;
}

#bannerHomeIndexContainer1 {
    position: relative;
}

#bannerHomeIndexImg1 {
    background-image: url(/Content/Images/YFL_Banner_4.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
}

#bannerHomeIndexText1 {
    font-size: 3vw;
    position: absolute;
    color: white;
    top: 13vw;
    left: 6vw;
}

#bannerHomeIndexText2 {
    font-size: 2vw;
    position: absolute;
    color: azure;
    top: 17vw;
    left: 6vw;
}

.home-index-featurette-break {
    border: 0;
    border-top: 1px;
    border-style: solid;
    border-color: white;
    margin: 50px;
}

#browseHomeIndexImg1 {
    background-image: url(/Content/Images/tables_tablet_ipad_input_device-512.png);
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
}