body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100px;
}

th.dt-center, td.dt-center {
    text-align: center;
}

/* BEGIN NON-PACKAGED CSS SELECTORS */
body.home_index {
    background-color: black;
}

#bannerHomeIndexContainer1 {
    position: relative;
    text-align: center;
}

#bannerHomeIndexContainer2 {
    width: 100%;
    padding: 0;
}

#bannerHomeIndexImg1 {
    position: absolute;
    top: 0;
    left: 0;
}

#bannerHomeIndexText1 {
    font-size: 60px;
    position: absolute;
    color: white;
    top: 40%;
    width: 100%;
}

#bannerHomeIndexText2 {
    font-size: 30px;
    position: absolute;
    color: azure;
    top: 300px;
    left: 125px;
}