body {
    padding-top: 200px;
    padding-bottom: 20px;
    background-image: url('images/yfl_logo_nowhite.png');
    background-position: right top 100px;
    background-repeat: no-repeat;
    background-size: 500px 600px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

<<<<<<< HEAD
=======
th.dt-center, td.dt-center {
    text-align: center;
}
>>>>>>> 7c371e97efedb9475a8afe4d74dce223cf625b7d
